@model ScheduleApp.Room

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <d1>
        <dt>
            @Html.DisplayNameFor(model => model.RoomNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildingNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuildingNum)
        </dd>
    </d1>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>